@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

p {
  color:#08203d;
}

.avatar {
    height: 90px;
}

/* HOME STYLING */

.homePage {
  background: url(./assets/mountainBG.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.contactBG {
    height: 100vh;
    background: #250e25;
}
.secBG {
  height: cover;
  background: #250e25;
}
.headersBG {
  background: #6e1448;
}
.formBG {
  background: #250e25;
}

/* ABOUT STYLING */

.aboutIcon1 {
    padding-bottom: 10px;;
    padding-top: 10px;
    height: 60px;
    color: #98064a;
    margin: 0 auto;
    
}

.aboutIcon2 {
  padding-bottom: 10px;;
  padding-top: 10px;
  height: 60px;
  color: #d62d54;
  margin: 0 auto;
  
}

.aboutIcon3 {
  padding-bottom: 10px;;
  padding-top: 10px;
  height: 60px;
  color: #ec6d4a;
  margin: 0 auto;
  
}

.aboutIcon {
  padding-bottom: 10px;;
  padding-top: 20px;
  height: 60px;
  color: #441944;
  margin: 0 auto;
  
}

.aboutp {
    display: flex;
    justify-self: enter;
    font-size: 1.1rem;
    color:white;
}

/* CONTACT STYLING */

.subbtn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 29px;
  padding-right: 29px;
  border-radius: 10% 25%;
  color: #ff8b5b;  
}

.subbtn {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 
}
.subbtn span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.subbtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s ease 0.2s;
  border: 1px solid #ff8b5b;
  background-color: rgba(255,255,255,0.1);
}
.subbtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s ease 0.2s;
  border: 1px solid #ff8b5b;
  background-color: rgba(255,255,255,0.1);
}
.subbtn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0.1);
}
.subbtn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0.1);
}


.form-control::placeholder {
  color: #08203d;
  opacity: 1; /* Firefox */
}

@media only screen and (max-width: 1024px) {
  .homePage {
    background-image: none;
    background: #250e25;
  }

  .secBG {
    background: #5f1647;
  }
}