@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Flex:opsz,wght@8..144,200&family=Sora&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(27, 27, 27);
    


}
h1 {
  color: white;
}



.homePage {
  min-width: 100vw;
  min-height: 180vh;
  background: #fff6eb;
  background-size: contain;
}
.avatar {
    height: 90px;
}
/* FOOTER STYLING */

.foot {
  
  color: #0078d7;
  height: 90px;
  width: 100%;
  flex-shrink: 0;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  z-index: 1;
}





/* HOME STYLING */


.hmNew {
  position: relative;
  background-color: #87956d;
  box-shadow: 3px 2px 2px rgb(44, 44, 44);

}


/* CONTACT STYLING */
.contactBG {
    color: #000;
    background: #fff6eb;
    background-size: cover;
    
}

.headersBG {
  background: #fff6eb;
}
.formBG {
  background: #fff6eb;
}


/* ABOUT STYLING */


.aboutIcon {
  padding-bottom: 10px;
  
  padding-top: 20px;
  height: 60px;
  color: black;
  margin: 0 auto;
  
}

.aboutp {
    
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.2rem;
    color:#203349;
}

.icon {
  
  width: 5rem;
  padding:2px;
  transition: transform .2s;
}
.skilltext {
  width: 87.5%;
}
.icon:hover {
  transform: scale(1.2);
}


/* PORTFOLIO STYLING */

.portSynopsisBG {
  background: #c4b096;
  box-shadow: 3px 2px 2px;
  
}

.portButtons {
  transition: all 0.5s;
  color:black;
  background-color: transparent;
  padding: 1rem;
  border: 2px solid #87956d;
  border-radius: 7px;
  box-shadow: 2px 1px 1px rgb(44, 44, 44);
  margin-top: .5rem;
}
.portButtons:hover {
  
  
  background-color: #87956d;
}

.portButtons::after {
  transition: 3s;
  color: transparent;
}
.portButtonText {
  transition: all 0.5s;
  text-decoration: none;
  color:black;
}
.portButtonText:hover {
  color: #fff;
}

/* CONTACT STYLING */

.subbtn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 29px;
  padding-right: 29px; 
  color: black;
  transition: all 0.5s;
  position: relative; 
}

.subbtn span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.subbtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s ease 0.2s;
  border: 1px solid #87956d;
  background-color: rgba(255,255,255,0.1);
}
.subbtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s ease 0.2s;
  border: 1px solid #87956d;
  background-color: rgba(255,255,255,0.1);
}
.subbtn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0.1);
}
.subbtn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0.1);
}


.form-control::placeholder {
  color: #08203d;
  opacity: 1; /* Firefox */
}

@media only screen and (max-width: 1024px) {
  
  
}
@media only screen and (max-width: 768px) {
  .foot {
    height: 150px;
  }
}

@media only screen and (max-width: 1024px) {

  .hmNew{
   
    width: 80vw;
    left: 10%;
    top: 30%;

  }
}