@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Noto+Serif:wght@700&display=swap');
* {
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

p {
  color:#08203d;
}

.avatar {
    height: 90px;
}
/* FOOTER STYLING */

.foot {
  background:#441944;
  color: #0078d7;
  height: 90px;
  width: 100%;
  flex-shrink: 0;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.footp {
  color: #0078d7;
  font-weight:lighter
}


/* HOME STYLING */

.homePage1 {
  background: url(./assets/mountainBG.jpg) no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 90vh;
  
}


.homePage {
  background: url(./assets/mountainBG.jpg) no-repeat center center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
  
.homeQuote {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
  font-size: 2rem;
  color:white;
}

.homep {
  font-family: 'Josefin Slab', serif;
  color: #fff;
  font-size: 1rem;
}

.homep1 {
  font-family: 'Josefin Slab', serif;
  color: #fff;
  font-size: .9rem;
}



.contactBG {
    
    background: #250e25;
    background-size: cover;
}
.secBG {
  background: #130417;
  border: 2px solid #8a1e36;
  border-radius: 60px 30px 60px 30px / 2px 30px 12px 30px;
  
}
.headersBG {
  background: #6e1448;
}
.formBG {
  background: #250e25;
}

.color1 {
color: #ff8b5b;
}

.color2 {
  color: #d83554;
}

.color3 {
  color: #fbd7c1;
}

.color4 {
  color: #ffefef;
}

/* ABOUT STYLING */


.aboutIcon {
  padding-bottom: 10px;;
  padding-top: 20px;
  height: 60px;
  color: #441944;
  margin: 0 auto;
  
}

.aboutp {
    
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    
    font-size: 1.2rem;
    color:white;
}

.icon {
  width: 5rem;
  padding:2px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 3px black;
  transition: transform .2s;
}
.skilltext {
  width: 87.5%;
}
.icon:hover {
  transform: scale(1.2);
}


/* PORTFOLIO STYLING */

.portSynopsisBG {
  background: #ffefef;
  
}

.portButtons {
  background-color: #d83554;
  padding: 8px;
  border: 2px solid white;
  border-radius: 4px 6px;
  margin-top: .5rem;
}

/* CONTACT STYLING */

.subbtn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 29px;
  padding-right: 29px;
  border-radius: 10% 25%;
  color: #ff8b5b;  
}

.subbtn {
  color: #FFF;
  transition: all 0.5s;
  position: relative; 
}
.subbtn span {
  z-index: 2; 
  display: block;
  position: absolute;
  width: 100%;
  height: 100%; 
}
.subbtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s ease 0.2s;
  border: 1px solid #ff8b5b;
  background-color: rgba(255,255,255,0.1);
}
.subbtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s ease 0.2s;
  border: 1px solid #ff8b5b;
  background-color: rgba(255,255,255,0.1);
}
.subbtn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0.1);
}
.subbtn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0.1);
}


.form-control::placeholder {
  color: #08203d;
  opacity: 1; /* Firefox */
}

@media only screen and (max-width: 1024px) {
  .homePage {
    background-image: none;
    background: #250e25;
    background-size: cover;
  }
  .homePage1 {
    background-image: none;
    background: #250e25;
    background-size: cover;
  }

  .secBG {
    background: #5f1647;
  }

  .aboutIcon {
    color: #ff8b5b;
  }

  .icon {
    width: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .foot {
    height: 150px;
  }
}